* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background: linear-gradient(90deg, rgb(84, 5, 136) 0%, rgb(10, 28, 191) 100%);
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 600px;
  min-height: 800px;
  background: #161a2b;
  text-align: center;
  margin: 60px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.todo-form {
  margin-bottom: 32px;
  justify-content: center;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px;
  border: 2px solid #0bb11b;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
  justify-content: center;
  align-content: center;
}

.todo-checkbox-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #0bb11b;
  outline: none;
  background: transparent;
  margin-right: 20px;
  color: #fff;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px 60px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  background: linear-gradient(90deg, rgb(19, 31, 133) 0%, rgb(66, 4, 110) 100%);
  color: #fff;
  text-transform: capitalize;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  margin: 6px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );
  padding: 12px;
  border-radius: 5px;
  width: 90%;
}

.todo-priority-list {
  display: flex;
  justify-content: space-between;
  margin: 6px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );
  padding: 12px;
  border-radius: 5px;
  width: 90%;
  border-left: rgb(228, 227, 163) solid 20px;
}

.todo-row-item-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
}

.todo-row-item-title-text {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 8px;
}

input.todo-input[type="date"] {
  position: relative;
}

input.todo-input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  color: transparent;
  background: transparent;
}
input.todo-input[type="time"] {
  position: relative;
}

input.todo-input[type="time"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  color: transparent;
  background: transparent;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}

.todo-priority-list:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.todo-priority-list:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}

.todo-priority-list:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  transform: scale(1.5);
  cursor: pointer;
}
